/* Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");

:root {
  --bg-color: #26292e;
  --comp-bg-color: #2f80ec;
  --hover-bg-color: #1869c5;

  --txt-color: aliceblue;
  --txt-color-light: #c8c1c194;
  --form-color-input: rgba(136, 124, 124, 0.109);
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
}
body {
  /* FONT */
  font-size: 1.3vw;
  line-height: 1.6;
  margin-bottom: 2rem;

  /* COLOR */
  background-color: var(--bg-color);
  color: var(--txt-color);
}
main {
  margin: 0 auto;
  margin-top: 8rem;
  width: 60%;
}
main section {
  margin-top: 5rem;
}
#projects h2,
#skills h2,
#contact h2 {
  padding-bottom: .5rem;
  font-weight: normal;
}

/* HOME SECTION */
.contact > p, .home p {
  font-size: 1.8vw;
  font-weight: 500;
}
.author-name, .contact > h2 {
  font-size: 5vw;
  padding: 1rem 0;
}
.theme-color-txt {
  word-spacing: 0.5rem;
  letter-spacing: 0.1rem;

  padding-bottom: 1rem;
  color: var(--comp-bg-color);
}
.theme-color-txt ~ p {
  font-size: 1.3vw;
  font-weight: 500;
}
button {
  background-color: var(--comp-bg-color);
  color: var(--txt-color);
  font-size: 1rem;
  letter-spacing: 0.1rem;

  margin-top: 0.8rem;
  padding: 1.2vw;
  width: 10rem;

  border: none;
  border-radius: 0.5rem;
  transition: all 250ms;
}
button:hover{
    background-color: var(--hover-bg-color);
}
/* NAV */
.navbar{
  width: 100%;
  height: 10vh;
  background-color: var(--form-color-input);

  position: fixed;
  top: 0;
}
.navbar-nav {
  padding-top: 1rem;

  display: flex;
  justify-content: center;
}
.navbar-nav li {
  padding-left: 5rem;
}
.navbar-nav li a {
  color: var(--txt-color-light);
}
.navbar-nav li a:hover,
.navbar-nav li a:focus {
  color: var(--txt-color);

  border-bottom: 1px solid var(--txt-color-light);
  padding-bottom: 0.2vw;
}

/* PROJECTS SECTION */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2vw;
}
.card {
  position: relative;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6rem 2rem;

  background-color: rgba(211, 211, 211, 0.226);
  transition: all 0.8s;
}
.card:hover {
  background-color: var(--comp-bg-color);
}
/* .card-body {
  display: flex;
  flex-flow: column;
  align-items: space-between;
  justify-content: center;
} */
.card-body small{
  display: inline-block;
  padding-top: 1rem;
} 
 .card-text {
    font-size: 0.8vw;
    line-height: 20px;
}
.card-title{
    font-size: 2vw;
}

/* FROM INPUT */
.contact > h2{
  padding-top: 0;
  line-height: 1.2;
}
.form-input input, textarea{
    display: block;
    border-radius: .3rem;

    background: var(--form-color-input);
    color: white;
    border: none;

    padding: 1rem;
    margin-bottom: 1.5rem;

    font-size: 1.2vw;
    font-family: inherit;
    width: 30vw;
}
.form-input textarea{
    margin-bottom: 0rem;
    color: white;
}
